# IntelliJ stuff
/.idea

# Python virtualenv
/.venv

# Project for testing stuff which should not be committed
/test

# Config files potentially containing credentials like WLAN_SSID and WLAN_PASSWORD
config.py
